NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_COMPANY_PHONE=+229 00 00 00 00
NEXT_PUBLIC_COMPANY_EMAIL=contact@jesuton.bj
NEXT_PUBLIC_COMPANY_ADDRESS=Cotonou, Bénin
